/* montserrat-regular - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/font/Roboto/Roboto-Regular.woff2") format("woff2");
         /*!*Chrome 26+, Opera 23+, Firefox 39+ */
          url("assets/font/Roboto/Roboto-Regular.woff2") format("woff");
         /*   Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ *!*/
}

/* montserrat-500 - latin */
@font-face {
    font-family: "Forum";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/font/Forum/Forum.woff2") format("woff2");
         /*!*Chrome 26+, Opera 23+, Firefox 39+ */
         url("assets/font/Forum/Forum.woff2") format("woff");
          /*Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}


body {
    /* overflow-x: hidden; */
    position: absolute;
    width: 1920px;
    height: 5960px;
    overflow-x: hidden;
    background: #FFFFFF;
    margin: 0 auto;

}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    background: #030303;
    top: 0;
    left: 0;
    width: 100%;
    /* max-width: 1920px; */
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.amount-btn_active {
    background-color: #0a6f66;

}

.header__item {
    margin-right: 76px;
}

.header__item:last-child {
    margin-right: 67px;
}

.cont-slider {
    max-width: 1375px;
    margin: 0 auto;
}

.header__ico-item {
    margin-right: 30px;
}

.header__ico-item:last-child {
    margin-right: 0;
}

.header__logo {
    width: 195px;
    height: 50px;
    display: flex;
}

.logo-text {
    position: relative;
    width: 125px;
    height: 50px;
    left: 21px;
    top: 5px;
    color: white;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;
    /* identical to box height, or 179% */

    letter-spacing: 5px;
    text-transform: uppercase;

}

.header__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 50px;
    /* identical to box height, or 238% */

    letter-spacing: 2px;

    color: #FFFFFF;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    color: #00a092;
    opacity: 0.7;
}

.header__burger {
    display: none;
    height: 30px;
    width: 22px;
    position: relative;
}

.burger__line {
    display: block;
    background-color: black;
    width: 100%;
    height: 2.31px;
    position: absolute;
    left: 0;
}

.burger__line_first {
    top: 0;
}

.burger__line_second {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_third {
    bottom: 0;
}

/* end style header */
/*welcome list*/
.Welcome {
    position: absolute;
    width: 1920px;
    height: 750px;
    left: 0px;
    top: 110px;

    background: #030303;
    border-radius: 0px;
}

.square {
    position: absolute;
    width: 1215.19px;
    height: 750px;
    left: 705px;
    top: 0px;
    z-index: 1;

}

.welcome-louvre-frame {
    /*display: flex;*/
    position: relative;
    margin-left: 75px;

}


.welcome-louvre {
    position: absolute;
    width: 380px;
    height: 90px;
    left: 165px;
    top: 110px;

    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #FFFFFF;

}

.welcome-louvre-2 {
    position: absolute;
    width: 690px;
    height: 90px;
    left: 165px;
    top: 200px;

    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #FFFFFF;
    z-index: 2;
}

.located-mus {
    position: absolute;
    width: 441px;
    height: 32px;
    left: 165px;
    top: 316px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 32px;
    /* identical to box height */

    letter-spacing: 2px;

    color: #FFFFFF;
}

.discover {
    position: absolute;
    width: 360px;
    height: 75px;
    left: 165px;
    top: 393px;
    color: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    /* identical to box height */
border: 0px;
    text-align: center;
    letter-spacing: 2px;

    background: #710707;
    border-radius: 10px;
}


/*Visiting box/ Virtual tour*/
.Visiting {
    position: absolute;
    top: 924px;
    left: 240px;
}

.virtual {

    width: 640px;
    height: 90px;
    display: block;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #9D8665;
}

.before-visiting {
    width: 1440px;
    height: 3px;
    margin-top: 26px;
    margin-bottom: 75px;
    background: #710707;
    border-radius: 0px;
    border: 0px
}

.royal {

    /*background-image: url("assets/1.jpg");*/
    border-radius: 0px;
}

.little-line {
    width: 300px;
 margin-left: 0px;
    border: 1px solid #710707;
    border-radius: 0px;
}

.site-name {

    width: 460px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;

    color: #000000;
}

.rotate {


    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    /* identical to box height */


    color: #000000;

}

.address {


    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height */


    color: #000000;

}

.visiting-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 440px);
    grid-gap: 60px;
}

/*Explore box*/
.Explore {
    position: absolute;
    width: 1920px;
    height: 865px;
    left: 0px;
    top: 2015px;

    background: #030303;
    border-radius: 0px;
}

.explore-title {
    position: absolute;
    width: 790px;
    height: 90px;
    left: 165px;
    top: 75px;

    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #FFFFFF;

}

.after-picture {
    position: absolute;
    width: 660px;
    height: 3px;
    left: 165px;
    top: 190px;

    background: #710707;
    border: 0px;
}

.explore-img {
    position: absolute;
    width: 720px;
    height: 700px;
    left: 960px;
    top: 90px;
    border-radius: 0px;
}

.first-p {
    position: absolute;
    width: 617px;
    height: 77px;
    left: 165px;
    top: 274px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 38px;
    /* or 175% */


    color: #FFFFFF;
}

.second-p {
    position: absolute;
    width: 601px;
    height: 77px;
    left: 165px;
    top: 376px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 38px;
    /* or 183% */


    color: #FFFFFF;

}

.thierd-p {
    position: absolute;
    width: 662px;
    height: 77px;
    left: 165px;
    top: 478px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 38px;
    /* or 175% */


    color: #FFFFFF;
}

/*video block*/

.Video {
    background: #E5E5E5;
    display: flex;
    top: 2880px;
    left: 0px;
    position: absolute;
    height: 1009px;
    width: 1920px;
}

.video-museum {
    position: absolute;
    width: 1440px;
    height: 629px;
    left: 240px;
    top: 90px;
}

.video-title {
    position: absolute;
    width: 700px;
    height: 90px;
    left: 240px;
    top: 759px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #9D8665;

}

.video-dis {
    position: absolute;
    width: 690px;
    height: 77px;
    left: 960px;
    top: 772px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 38px;
    /* or 175% */


    color: #000000;

}

/*block Buy tickets*/


.Tickets {
    position: absolute;
    width: 1920px;
    height: 893px;
    left: 0px;
    top: 3804px;

    background: #030303;
    border-radius: 0px;
}

.tickets-buy {
    position: absolute;
    width: 569px;
    height: 90px;
    left: 240px;
    top: 75px;

    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.after-buy {
    position: absolute;
    width: 1440px;
    height: 3px;
    left: 240px;
    top: 180px;

    background: #710707;
    border: 0px;
}

.picture-tickets {
    position: absolute;
    width: 720px;
    height: 550px;
    left: 240px;
    top: 268px;

    border-radius: 0px;
}

.tickets-form {
    position: absolute;
    width: 660px;
    height: 445px;
    left: 1020px;
    top: 268px;
    box-sizing: border-box;
    border-radius: 0px;
    display: flex;

}

.tickets-title {
    width: 146px;
    height: 33px;
    left: 1020px;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */


    color: #FFFFFF
}

.amount {

    width: 99px;
    height: 33px;
    margin-left: 415px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */


    color: #FFFFFF;
}

.parametrs {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 51px;
    margin-left: 40px;
    color: #FFFFFF;

}
.parametrs-rad{
    position: relative;
    top: 69px;
    left: 10px;
}

.payment {
    display: grid;
    grid-template-columns: repeat(1, 440px);
    position: absolute;
    margin-top: 51px;

}

.count {
    display: grid;
    grid-template-columns: repeat(1, 440px);
    position: absolute;
    top: 44px;
    left: 510px
}

.age-level-small {
    width: 150px;
    height: 26px;


    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */


    color: #FFFFFF;

}

.age-level-high {

    width: 150px;
    height: 26px;


    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */


    color: #FFFFFF;

}

.quantity {
margin-top: 20px;
    width: 145px;
    height: 50px;

    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0px;
}

.display {
    width: 35px;
    height: 38px;
    border: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */
    background: #030303;
    text-align: center;
    margin: 3px 17px;
    color: #FFFFFF;

}
.plus-btn{

    width: 19px;
    height: 38px;
margin-right: 11px;

    background: #030303;
    border: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.minus-btn {
    width: 18px;
    height: 38px;
margin-left: 10px;
    background: #030303;
    border: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}
.senior{
    margin-top: 35px;
}

.total-title{

    width: 97px;
    height: 33px;


    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: 1.65px;

    color: #FFFFFF;

}
.total-display{
border: 0px;
    width: 53px;
    height: 33px;
    background: #030303;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
margin-left: -6px;
    letter-spacing: 1.65px;

    color: #FFFFFF;
}
.total{
  width: 150px;
    height: 33px;
    display: flex;
    margin-top: 50px;
}

.buy-now{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 2px;

    color: #000000;
    width: 175px;
    height: 50px;

    background: #FFFFFF;
    border-radius: 2px;

}
.sub{
    width: 180px;
    height: 50px;
    margin-top: 50px;
    margin-left: -31px;



}
/*block Contacts*/

.Contacts {
    background: #E5E5E5;
    position: absolute;
    top: 4697px;
    left: 0px;
    width: 1920px;
    height: 963px;

}

.title-contacts {

    position: absolute;
    width: 397px;
    height: 90px;
    left: 240px;
    top: 75px;

    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #9D8665;


}
.after-cont{
    position: absolute;
    width: 1440px;
    height: 3px;
    left: 240px;
    top: 190px;

    background: #710707;
    border-radius: 0px;
}
.firs-part-of-title{

    width: 153px;
    height: 33px;
    left: 250px;
    top: 278px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */


    color: #000000;

}
.second{
    width: 200px;
}
.located{

    position: absolute;
    width: 260px;
    height: 33px;
    left: 250px;
    top: 278px;

}

.addresses{
    position: absolute;
    top: 105px;
}
.cont{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */

margin-bottom: 20px;
    color: #000000;
}

.map{
    position: absolute;
    width: 960px;
    height: 620px;
    left: 720px;
    top: 268px;
}

/*block footer*/

footer{
    position: absolute;
    width: 1920px;
    height: 300px;
    left: 0px;
    top: 5660px;

    background: #030303;
    border-radius: 0px;
}

.logo-text-footer{
    position: absolute;
    width: 125px;
    height: 50px;
    left: 260px;
    top: 74px;

    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;
    /* identical to box height, or 179% */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #FFFFFF;

}
.sidebar{
    position: absolute;
    width: 105px;
    height: 50px;
    left: 600px;
    top: 74px;
    display: flex;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 50px;
    /* identical to box height, or 238% */

    letter-spacing: 2px;

    color: #FFFFFF;

}

.side-second{
    position: absolute;
    width: 105px;
    height: 50px;
    left: 850px;
    top: 74px;
}
.icons{
    position: absolute;
    width: 340px;
    height: 50px;
    left: 1344px;
    top: 162px;

}
.footer__list{
    display: flex;
}
.footer__item{
    width: 44px;
    height: 48px;
    margin-right: 24px;
    border: 1px solid #666666;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 0px #666666);
    border-radius: 50px;
}
.picture{
    display: flex;
    margin: 10px auto
}
/*hover item*/

.footer__item:hover{
    transform: scale(1.1);
    border-radius: 10px;
    border: 1px solid gold;
    box-shadow: 0 5px 90px 3px #ff4b00;
}

.logo-text-footer:hover{
    color: #7f5d00;
}
.logo-text:hover{
    color: #7f5d00;
}
.logo:hover{
    border-radius: 10px;
    box-shadow: 0 -47px 77px 21px #ff4b00;
}
.discover:hover{
    transform: scale(1.05);

}
.discover:active{
    transform: scale(0.95);
    box-shadow: 0 -4px 56px 5px #00d9ff;
}

.royal-palace:active{
    transform: scale(1.3);
    margin: 20% 5%;
    background: #9D8665;
    width: 100%;
    z-index: 10;

}
.royal-palace:hover{
    transform: scale(1.1);
}

.buy-now:hover,
.btn-counter:hover{
    transform: scale(1.05);
}
.buy-now:active,
.btn-counter:active{
    transform: scale(0.95);
}

.little-line:hover,
.little-line:active{
    width: 100%;
}